doctype html
//-TODO This would belong to the Theme
html.red.accent-1(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Superblog
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
      
  body
    #root
    noscript You have to enable javascript to see this page


    script(language='javascript', src='./bundle.js')
